<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a routerLink="/team" class="navbar-brand">Pet Hosting</a></div>

  <ul class="navbar-nav left">

<!--    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>-->
<!--    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/register" class="nav-link">Register</a>-->
<!--    <li><a *ngIf="loginService.isUserLoggedIn()&&isAdmin" routerLink="/admin" class="nav-link">Manage teams and Players</a></li>-->
<!--    <li><a *ngIf="loginService.isUserLoggedIn()&&isAdmin" routerLink="/userManagement" class="nav-link">Manage users</a></li>-->
<!--    <li><a *ngIf="loginService.isUserLoggedIn()&&isLeagueManager" routerLink="/leagueManager" class="nav-link">Manage league</a></li>-->
<!--    <li><a *ngIf="loginService.isUserLoggedIn()&&isUser" routerLink="/team" class="nav-link">{{teamName}}</a></li>-->
<!--    <li><a *ngIf="loginService.isUserLoggedIn()&&isUser" routerLink="/transferlist" class="nav-link">Transfer list</a></li>-->
<!--    <li><a *ngIf="loginService.isUserLoggedIn()&&isUser" routerLink="/searchplayers" class="nav-link">Search players</a></li>-->

  </ul>
    <ul class="navbar-nav right">
      <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link" (click)="logOut()">LogOut</a></li>
      <li><a *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/register" class="nav-link">Register</a>
    </ul>
  </nav>

  </header>
