<div class="container">
  <form class="form-horizontal" >
    <fieldset>
      <div id="legend">
        <legend class="">Create Team</legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="teamName">Team name</label>
        <div class="controls">
          <input type="text" id="teamName" name="teamName" placeholder="" class="input-xlarge"   [(ngModel)]="teamName">
          <label *ngIf="teamNameRequired" for="teamName" class="error">Team name required</label>
        </div>
      </div>

      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="country">Country</label>
        <div class="controls">
          <input type="text" id="country" name="username" placeholder="" class="input-xlarge"   [(ngModel)]="country">
          <label *ngIf="countryNameRequired" for="country" class="error">Country is required</label>
        </div>
      </div>

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" (click)=createTeam()>Create</button>
          <label *ngIf="teamAlreadyExists"  class="error">Team name and country are already taken</label>
        </div>
      </div>
    </fieldset>
  </form>
</div>
