<h2 mat-dialog-title>Edit</h2>
<div mat-dialog-content>
  <mat-form-field>
    <label class="control-label"  for="firstName">First name: </label>
    <input id="firstName" type="text" matInput [(ngModel)]="player.firstName">
  </mat-form-field>
  <mat-form-field>
    <label class="control-label"  for="lastName">Last name: </label>
    <input id="lastName" type="text" matInput [(ngModel)]="player.lastName">
  </mat-form-field>
  <mat-form-field>
    <label class="control-label"  for="country">Country: </label>
    <input id="country" type="text" matInput [(ngModel)]="player.country">
  </mat-form-field>
  <mat-form-field>
    <label class="control-label"  for="age">Age: </label>
    <input id="age"  type="number" matInput [(ngModel)]="player.age">
  </mat-form-field>

  <mat-form-field>
    <label class="control-label"  for="position">Position: </label>
    <select matNativeControl id="position" [(ngModel)]="player.position">
      <option value="GOALKEEPER">Goalkeeper</option>
      <option value="DEFENDER">Defender</option>
      <option value="MIDFIELDER">Midfielder</option>
      <option value="ATTACKER">Attacker</option>
    </select>

  </mat-form-field>
  <mat-form-field>
    <label class="control-label"  for="value">Value: </label>
    <input type="number" id="value" matInput [(ngModel)]="player.value">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button type="button" class="btn btn-primary" (click)="closeDialog()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submitDialog()">Submit</button>
</div>
