<div class="container">

  <form class="form-horizontal">
    <fieldset>
      <div id="legend">
        <legend class="">Login</legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="email">Email</label>
        <div class="controls">
          <input type="text" id="email" name="username" placeholder="" class="input-xlarge"  [(ngModel)]="username">
        </div>
      </div>

      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="username" placeholder="" class="input-xlarge" [(ngModel)]="password">
        </div>
      </div>

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button id="loginButton" class="btn btn-success" (click)=checkLogin()>Login</button>
          <label *ngIf="invalidData" for="loginButton" class="error">Invalid email or password</label>
        </div>
      </div>
    </fieldset>
  </form>
</div>
